.flex-container{
    width: 100%;
    display: flex;
    gap: 1rem;
}

.full-width-img{
    width: 100%;
}

.caption-black{
    color: #4D4726;
    font-size: 12px;
    line-height: 1.5;
    margin-left: 0%;
    margin-top: 15px;
    margin-bottom: 50px;
    grid-column: 1/3;
}

p{
    font-family: 'EdelmanChromatic-GrotesqueRegular' !important;
    color: #4D4726;
}

.bodycopy-full-width{
    grid-column: 2/4/3/10;
}