
#flemingjoffe{
    background-color: #3c3820;
    padding-top: 50px;
    padding-bottom: 100px;
    margin-top: 70px;
}

.full-width-img{
    width: 90%;
    height: 40%;
    margin-left: 0%;
    margin-bottom: 0px;
    margin-top: 150px;
}

.full-width-img-olive{
    width: 70%;
    margin-left: 15%;

}

body{
    font-family: 'EdelmanChromatic-GrotesqueRegular';
}

p{
    font-family: 'EdelmanChromatic-GrotesqueRegular' !important;
    color: #4D4726;
    font-size: 16px;
    line-height: 1.4;
}

h2{
    color: #F1EFE1;
    font-size: 3em;
    font-weight: normal;
    text-align: center;
    font-family: "EdelmanChromatic-GrotesqueRegular" !important;
}

h3{
    color: #3c3820;
    font-size: 2.5em;
    font-weight: normal;
    font-family: "EdelmanChromatic-GrotesqueRegular" !important;
}

h4{
    color: #000000;
    font-size: 1.2em;
    font-weight: normal;
    font-family: "EdelmanChromatic-GrotesqueRegular" !important;
}

#products{
    margin-top: -150px;
    margin-bottom: 10px;
    margin-left: 0%;
}

#collab-header{
    font-size: 24px;
    margin-bottom: 15px;
}

#collab-halfandhalf{
    margin-left: 5%;
    margin-top: 100px;
    margin-bottom: 100px;
    width: 90%;
    display: flex;
    justify-content: space-between;
}

#collab-lefthalf{
    width: 48%;
}

#collab-righthalf{
    width: 48%;
    margin-top: 35px;
}

#image-small{
    height: 60vh;
    float: right;
    margin-top: -10vh;
    margin-right: 5vw;
    margin-bottom: 20vh;
}

#image-small img{
    height: 100%;
}

.callout{
    font-size: 24px !important; 
    width: 70%;
    margin-left: 5%;
    margin-top: 150px;
    margin-bottom: 100px;
}

.callout a{
    text-decoration: none;
}

a:visited {
    color: inherit;
  }

body{
    font-family: "EdelmanChromatic-GrotesqueRegular" !important;
    font-weight: normal;
    overflow-x: hidden;
}

.section-header{
    position: absolute;
    text-align: center;
    margin-top: -50%;
    width: 90%;
}

.section-header-olive{
    position: absolute;
    text-align: center;
    margin-top: -35%;
    width: 90%;
}

.section-header h2{
    text-align: center;
}

.caption{
    color: white;
    font-size: 12px;
    line-height: 1.5;
    margin-left: 0%;
    margin-top: 15px;
    margin-bottom: 50px;
}

.video-caption{
    color: #4D4726;
    font-size: 12px;
    line-height: 1.5;
    margin-left: 50px;
    margin-top: -240px;
    margin-bottom: 300px;  
}

.caption-black{
    color: #4D4726;
    font-size: 12px;
    line-height: 1.5;
    margin-left: 0%;
    margin-top: 15px;
    margin-bottom: 50px;
}

.carousel-img-caption{
    color: white;
    font-size: 12px;
    margin-top: 10px;
    padding-left: 18px;
}

.carousel-img-caption-black{
    color: #4D4726;
    font-size: 12px;
    margin-top: 10px;
}

.bodycopy-full-width{
    /* background-color: #edede8; */
    padding-top: 120px;
    padding-bottom: 120px;
    width: 100%;
}

.bodycopy-full-width-olive{
    background-color: #3c3820;
    padding-top: 120px;
    padding-bottom: 120px;
}


.bodycopy-full-width-olive p{
    color: white;
    font-size: 16px;
    line-height: 1.5;
    width: 50%;
    margin-left: 25%;
}


.bodycopy-full-width p{
    color: #4D4726;
    font-size: 16px;
    line-height: 1.5;
    width: 50%;
    margin-left: 25%;
}


#left-half-andy{
    width: 30%;
    padding-left: 10px;
}

#right-half-andy{
    width: 70%;
}

.intro-text{
    width: 70%;
    margin-left: 20%;
    /* border-left: 1px solid #4D4726; */
    padding-left: 50px;
}

.intro-text p{
    color: #4D4726;
    font-size: 16px;
    line-height: 1.5;
}

.bodycopy-left{
    width: 45%;
     margin-left: 20%;
     margin-bottom: 80px;
     margin-top: 100px;
     /* border-left: 0.5px solid white; */
     padding-left: 50px;
 }

 .bodycopy-left-black{
    width: 45%;
     margin-left: 20%;
     margin-bottom: 80px;
     margin-top: 100px;
     /* border-left: 0.5px solid #4D4726; */
     padding-left: 50px;
 }



 .bodycopy-right-black{
    width: 45%;
     margin-left: 40%;
     margin-bottom: 80px;
     margin-top: 100px;
     /* border-left: 0.5px solid #4D4726; */
     padding-left: 50px;
 }

 .bodycopy-left-black p{
    color: #4D4726;
     }

 .bodycopy-right-black p{
color: #4D4726;
 }



 .bodycopy-left p{
    color: white;
    font-size: 16px;
    line-height: 1.5;
}

.black{
    color: #4D4726 !important;
    font-size: 16px;
    line-height: 1.5;
}

.copy-section{
    position: relative;
}

.growing-border{
    position: absolute;
    left: 10vw;
    top: 50vh;
    height: 0;
    border-left: 1px solid white;
    transition: height 0.2s ease-out;

}

.medium-img-right{
    width: 60%;
    margin-left: 40%;

}

.medium-img-right-caption{
    margin-left: 40%;
    margin-top: 15px;
    margin-bottom: 100px;
    color: white;
    font-size: 12px;
}


.image-scroll img{
    width: auto;
    height: 30vh;
    padding-left: 0.8rem;
    vertical-align: middle;
    cursor: pointer;
    transition: all 0.3s ease;
}

.image-scroll img .expanded{
    height: 30vh;
    z-index: 1000;
    position: relative;
}


.image-scroll{
margin-top: 20vh;
margin-left: 10%;
width: 80%;
margin-bottom: 100px;
}


.slick-prev{
    height: 20px;
    margin-top: 0px;
    left: -5rem !important;
    z-index: 100;
}

.slick-next{
    height: 20px;
    margin-top: 0px;
    right: -4rem !important;
    z-index: 100;
}


  .progress-container {
    margin-left: 10%;
    margin-top: -80px;
    width: 80%;
    background-color: #e0e0e0;
    height: 2px;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
  }
  
  .progress-bar {
    width: 20%;
    height: 2px;
    position: absolute;
    left: 0;
    background-color: #9ca291;
    transition: left 0.3s ease; /* Smooth transition */
  }

  #readmore{
    background-color: none;
    border: #4D4726 0.5px solid;
    color: #4D4726;
    padding: 12px;
    margin-top: 15px;
    margin-left: 36%;
  }

  #readmore:hover{
    background-color: #4D4726;
    color: #F1EFE1;
    transition: background-color ease-in-out 0.3s;
  }

  #andy-illustration{
    mix-blend-mode: multiply;
    width: 250px;
    margin-left: 20px;
    margin-top: -200px;
  }

  .collab-bio{
    margin-bottom: 0;
    margin-top: 0 !important;
  }

  #halfandhalf{
   display: inline-flex;
   width: 100%;
   gap: 1rem;
   justify-content: space-between;
   margin-top: 50px;
  }

  .history-img{
    width: 90% !important;
    margin-left: 5%;
    margin-bottom: 50px;
  }

  #left-half{
    width: 50%;
  }

  #left-half img{
    width: 100%;
  }

  #right-half{
    width: 50%;
  }



  #right-half img{
    width: 100%;
  }

  #to-top{
    width: 30px;
    opacity: 0.6;
    transition: opacity 0.3s ease-in-out;
  }

  #to-top:hover{
    opacity: 1;
      }

#scroll-to-top{
    display: inline-block;
    text-decoration: none !important;
    text-decoration-color: #4D4726;
    z-index: 0;
    position: fixed;
    top: 93vh;
    right: 40px;
  }




  #scroll-to-top p a{
    text-decoration-color: #4D4726;
    text-decoration: none !important;
    font-size: 32px;
  }



  #scroll-to-top p a:visited{
    color: #4D4726;
  }

  #scroll-to-top p a:hover{
    text-decoration-color: #4D4726;
    text-decoration: none !important;
    color: #4D4726;
  }

  #canvas{
display: block;
margin-top: 70px;
width: 100%;
height: 100vh;
background-color: white;
border: 1px solid #4D4726;
  }

#toc-container{
    background-color: rgba(255, 255, 255, 0.3);
    width: 75rem;
    /* padding-left: 10%;
    padding-right: 10%; */
    height: 6vh;
    display: block;
    z-index: 1;
    position: fixed;
    /* left: 17%;
    right: 17%; */
    top: 0;
    transition: background-color 0.3s ease-in-out, height 0.3s ease-in-out;
}

#toc-container:hover{
    background-color: rgba(255, 255, 255, 1.0);
    height: 7vh;
}
    

#toc{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    position: fixed;
    width: 650px;
    top: 1rem;
    z-index: 200;
    margin-left: 16rem;
    color: #9ca291;
    transition: ease;
    transition-delay: color 0.3s ease;
}

#toc #edelman{
    text-align: center;
}

.collab{
    position: absolute !important;
    display: block;
    margin-left: 25% !important;
}

#toc :hover{
    color: #4D4726;
    text-decoration: underline;
    transition: ease;
    transition-delay: color 0.3s ease;
}

.live{
    color: #4D4726;
    text-decoration: underline;

}

#shortbio{
    width: 30%;
    margin-top: 0px;
    margin-left: 5%;
    display: inline-block;
    position: absolute;

}

.collab-name{
    display: inline-block;
}

.video-wrapper{
    margin-top: 120px;
    padding-top: 0;
    margin-bottom: 0;
    display: block;
    width: 100%;
}

.video-wrapper iframe{
    width: 100%;
    height: 65vh;
    margin-bottom: 250px;
}

.grid.products {
	grid-template-columns: repeat(1, minmax(0, 1fr));
	grid-gap: 1rem;
    margin-left: 0%;
}

.grid.products .cell {
    cursor: pointer;
}

.grid.products .cell .images-wrapper {
    position: relative;
}

.images-wrapper img{
    width: 100%;
}

.grid.products .cell .images-wrapper img.listview-image.installation {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    opacity: 0;
    transition: all 0.25s ease;
}

.grid.products .cell:hover .images-wrapper img.listview-image.installation {
    opacity: 1;
}

.grid.products .cell .description-wrapper {
    padding: 1rem 0;
}

.grid.products .cell .description-wrapper .listview-brand,
.grid.products .cell .description-wrapper h6.listview-product,
.grid.products .cell .description-wrapper .listview-color,
.grid.products .cell .description-wrapper .listview-price {
	font-family: "EdelmanChromatic", Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 0.875rem;
    text-align: left;
    color: #000000;
    line-height: 1.35;
    margin-bottom: 0;
    transition: all 0.25s ease;
}

.grid.products .cell .description-wrapper h6.listview-product {
	font-family: "EdelmanChromatic", Helvetica, Arial, sans-serif;
    font-weight: 700;
}

.grid.products .cell:hover .description-wrapper h6.listview-product {
	color: #998f4d;
}

@media screen and (min-width: 768px) {
    
    .grid.products {
    	grid-template-columns: repeat(2, minmax(0, 1fr));
    }
    
}



@media screen and (min-width: 1024px) {
    
    .grid.products {
    	grid-template-columns: repeat(3, minmax(0, 1fr));
    }
    
}

@media screen and (min-width: 1256px) {
    
    .grid.products {
    	grid-template-columns: repeat(4, minmax(0, 1fr));
    }

    
}

@media screen and (max-width: 1256px) {
    #toc{
        margin-left: 7rem;
       
    }

    #toc-container{
        background-color: rgba(255, 255, 255, 0.3);
        width: 55rem !important;
        /* padding-left: 10%;
        padding-right: 10%; */
        height: 6vh;

    }

    .video-caption{
        margin-left: 0px;
        margin-top: -270px;
        margin-bottom: 300px;  
    }

    .callout{
        font-size: 20px !important; 
        width: 70%;
        margin-left: 5%;
        margin-top: 150px;
        margin-bottom: 100px;
    }
    

    .slick-prev{
        height: 20px;
        margin-top: 0px;
        left: -5rem !important;
        z-index: 100;
    }
    
    .slick-next{
        height: 20px;
        margin-top: 0px;
        right: -4rem !important;
        z-index: 100;
    }

    .image-scroll{
        margin-top: 15vh;
        margin-left: 15%;
        width: 70%;
        }
    
        .progress-container {
        width: 70%;
        margin-left: 15%;
          }

        .callout{
            margin-top: 100px;
        }
}

@media screen and (max-width: 425px) {
.callout{
font-size: 16px !important;
width: 80%;
margin-left: 10%;
line-height: 1.5;
}

.full-width-img{
    height: 60vh;
    width: auto;
}

.caption{
    font-size: 8px;
}

.caption-black{
    font-size: 8px;
}

.carousel-img-caption{
    font-size: 8px;
}

.bodycopy-full-width-olive{
    padding-top: 50px;
    padding-bottom: 50px;
}

.bodycopy-full-width-olive p{
    color: white;
    font-size: 12px;
    line-height: 1.5;
    width: 70%;
    margin-left: 15%;
}

.black{
    font-size: 12px;
    width: 70%;
    line-height: 1.5;
}

.bodycopy-full-width p{
    color: #4D4726;
    font-size: 12px;
    line-height: 1.5;
    width: 70%;
    margin-left: 15%;
}

.bodycopy-full-width{
    padding-top: 50px;
    padding-bottom: 50px;
}

}
 
@media screen and (max-width: 768px) {

    #collab-lefthalf{
        width: 90%;
    }

    #collab-righthalf{
        width: 0%;
    }

    .video-caption{
        margin-left: 0px;
        margin-top: -5vh !important;
        margin-bottom: 300px;  
    }


}







